@font-face {
    font-family: "DINRegular";
    src: url(../Font/DINRegular.ttf);
}

@font-face {
    font-family: "Minecraft";
    src: url(../Font/Minecraft.ttf);
}

.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Site-content {
    flex: 1;
}

.submenu {
    background-color: #900;
    display: none;
    position: absolute;
    top: 50px;
}

article {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body,
footer {
    font-family: "DINRegular";
}

div {
    position: relative;
}

div.burger {
    display: none;
}

div.burger > img {
    width: 50px;
    z-index: 500;
}

div.submenu > div > a {
    border-top: 1px solid #d5dbeb;
}

footer {
    background-color: #000;
    color: #fff;
}

footer > p {
    border: 1px solid #000;
    margin: 0;
    padding-left: 1em;
    text-align: left;
}

header {
    align-items: center;
    background-color: maroon;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

header {
    font-family: "Minecraft";
}

main {
    margin: auto;
    width: 70%;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: flex-start;
    margin: auto;
    max-width: 850px;
    width: 95%;
}

nav > div {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    text-align: center;
    width: 95%;
}

nav > div:hover {
    background-color: #900;
}

nav > div:hover > .submenu {
    display: block;
    text-align: center;
    width: 100%;
}

nav a {
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

@media (max-width: 730px) {
    #menu2 {
        display: none;
    }

    #menu2 > div {
        background-color: #900;
        border: solid;
        border-color: #000;
        border-width: 2px 0 0;
    }

    #menu2 a {
        color: #000;
        font-size: 20px;
        text-decoration: none;
    }

    div.burger {
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    div.burger:hover > #menu2 {
        display: flex;
        flex-direction: column;
        left: 0;
        position: absolute;
        top: 50px;
        z-index: 1;
    }

    header {
        align-items: flex-start;
        background: none;
    }

    header > nav {
        display: none;
    }
}
